<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/board.css}"/>
    <script th:src="@{/js/board.js}" defer></script>
	<script th:src="@{/js/session.js}"></script>
</head>
<body>
<form th:action="@{/board/save}" method="post" th:object="${board}" enctype="multipart/form-data">
<table class="form-container"> 
    <tr><td><h2>글쓰기</h2></td></tr>
	<tr height="10px"><td></td></tr>
    <tr>
		<td class="header">제목</td>
		<label>
		  <input type="checkbox" name="notice" th:checked="${board.notice}" /> 공지사항으로 등록
		</label>
	</tr>
	<tr height="5px"><td></td></tr>
    <tr><td><input type="text" th:field="*{title}" placeholder="제목을 입력하세요" name="title"></td></tr>
	<tr height="10px"><td></td></tr>
    <tr><td class="header">본문</td></tr>
	<tr height="5px"><td></td></tr>
    <tr><td><textarea placeholder="내용을 입력하세요" th:field="*{content}" name="content"></textarea></td></tr>
	<tr height="10px"><td></td></tr>
	
	<tr >
	    <td>첨부 파일
	    
	        <input type="file" name="file" />
	        
			<span align="center" th:if="${board != null and board.boardFile == null}"><br/><span>첨부된 파일이 없습니다.</span>
	        <a th:if="${board != null and board.boardFile != null}" th:href="@{'/boardupload/' + ${board.boardFile}}"
	           th:text="${board.boardFile}"></a>

	        <!-- 첨부 파일 업로드 버튼 추가 -->
	    </td>
	</tr>

	<!-- 비밀번호 입력 필드 추가 -->
	<tr>
	    <td class="header">비밀번호</td>
	</tr>
	<tr height="5px"><td></td></tr>
	<tr><td><input type="password" th:field="*{user.password}" placeholder="비밀번호를 입력하세요" name="password"></td></tr>
	<tr height="10px"><td></td></tr>

	<tr align="right"><td><input type="submit" value="등록" onclick="alert('작성 완료!')"></td></tr>
	
</table>
</form>
</body>
</html>