<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
	<script th:src="@{/js/session.js}"></script>
</head>
<body>
    <h2>게시글 수정</h2>
    <form th:action="@{/board/update/{id}(id=${board.id})}" th:object="${board}" method="post">
        <input type="hidden" th:field="*{id}" />
        
        <label>제목:</label><br>
        <input type="text" th:field="*{title}" /><br><br>
        
        <label>내용:</label><br>
        <textarea th:field="*{content}" rows="10" cols="50"></textarea><br><br>

        <button type="submit">수정 완료</button>
		<button type="button" th:onclick="history.back()|">취소</button>
    </form>
</body>
</html>