<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<footer class="fixed-footer" th:fragment="footer">
		  <div class="footer-content">
		    <p>&copy; 2025 UESW</p>
		    <div class="social-icons">
		      <a href="https://www.facebook.com/kotsa.or.kr"><i class="fab fa-facebook-f"></i></a>
		      <a href="https://www.youtube.com/@TS_KOTSA"><i class="fa-brands fa-youtube"></i></a>
		      <a href="https://www.instagram.com/kotsa_kr/"><i class="fab fa-instagram"></i></a>
		    </div>
		  </div>
		</footer>
	</body>
</html>