<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find_Id</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <script th:src="@{/js/login.js}" defer></script>
</head>
<body>
    <img class="bg.img">
        <div class="login-wrap">
 
            <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Find ID</label>
            <div class="login-form">


                <div class="sign-in-htm">
                <div class="group">
                    <label for="id" class="label">Your ID : </label>
                </div>

                <button class="button" 
                    onclick="window.location.href='login.html';">
                    Login
                </button>

            </div>
            </div>
        </div>
    </img>
</body>
</html>